.ember-application {
}

.container {
    min-height: 700px;
}

#header {
    background: #337AB7;
    color: white;
}

#footer {
    background: #eee;
    padding: 5px;
}

.series {
    background: #EEE;
}

.episode {
    background: #EEE;
}

.ballot {
    background: #EEE;
}

body {
    background-image: url("images/geometric.gif");
    background-color: #333;
}

h2 {
    background: url("images/heading_bar.gif") repeat-x;
    padding-left: 10px;
    color: #fff;
}

h3 {
    background: url("images/heading_bar.gif") repeat-x;
    padding-left: 10px;
    color: #fff;
}