.ember-application {
}

.container {
    background: #eee;
    min-height: 700px;
}

#header {
    background: #337AB7;
    color: white;
}

#footer {
    background: #eee;
    padding: 5px;
}

.series {
    background: #EEE;
}

.episode {
    background: #EEE;
}

.ballot {
    background: #EEE;
}

body {
    background-image: url("images/geometric.gif");
    background-color: #cccccc;
}