<h3>Friends</h3>

<table class="table" style="width: 400px">
    <thead>
    <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |friend|}}
        <tr>
            <td>
                {{friend.name}}
            </td>
            <td>
                {{friend.firstName}} {{friend.lastName}}
            </td>
            <td>
                {{friend.email}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

