<h4>Your Current Vote</h4>

<table class="table">
    <thead>
    <tr>
        <th>Series</th>
        <th>Title</th>
        <th>Week</th>
        <th>Air Date</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.episodes as |episode|}}
        <tr class="episode">
            <td>{{episode.series.title}}</td>
            <td>{{episode.title}}</td>
            <td>{{episode.weekIndex}}</td>
            <td>{{episode.formattedAirDate}}</td>
            <td>Result</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{#link-to 'voting.edit'}}
    <button class="btn btn-default">Edit</button>
{{/link-to}}
