.container {
    background: #eee;
    min-height: 700px;
}

#header {
    background: #337AB7;
    color: white;
}

#footer {
    background: #ccc;
    padding: 5px;
}

body {
    background: url("../images/geometric.gif");
    background-color: #333;
}