<div class="container">
    <div id="header" class="row">
        <div class="col-md-4">
            {{#link-to 'index'}}<img src="assets/images/logo.gif"/>{{/link-to}}
        </div>
        <div class="col-md-8"
             style="text-align: right; padding-top: 10px; font-weight: bold; font-size: 20px">
            <a style="text-decoration: none; color: black;"
               href="/admin/home" {{action 'noAction' preventDefault=false}}>
                Admin
            </a>
        </div>
    </div>

    <div style="padding-top: 15px; padding-bottom: 15px;">
        {{outlet}}
    </div>
</div>
