<div>{{link-to 'Series' 'series' class="btn btn-primary"}}</div>

<div>{{link-to 'Episodes' 'episodes' class="btn btn-primary"}}</div>

<div>{{link-to 'Users' 'users' class="btn btn-primary"}}</div>

