
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |series|}}
        <tr class="series">
            <td>{{series.title}}</td>
            <td>{{series.formattedStartDate}}</td>
            <td>{{series.formattedEndDate}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
