<h3>Your Profile</h3>

<table>
    <tr>
        <td>Name:</td>
        <td>Brandon Risberg</td>
    </tr>
    <tr>
        <td>Nickname:</td>
        <td>Super voter</td>
    </tr>
    <tr>
        <td>Last Voted:</td>
        <td>1 day ago</td>
    </tr>
    <tr>
        <td>Photo:</td>
        <td>Image Goes here</td>
    </tr>
</table>

{{#link-to 'profile.edit'}}
    <button class="btn btn-default">Edit</button>
{{/link-to}}
